body {
	font-family: "Ubuntu Mono";
	font-size: 15pt;
	margin: 0;
	color:#FFFC9D;
	text-transform:uppercase;
}
.wrapper {
	position: relative;
	width:640px;
	height:480px;
	float:left;
	background-color:  #000033;
}

.header {
	width:640px;
	height:235px;
	float:left;
}
.header_wimg {
    float: left;
    height: 235px;
    margin: 120px 0 0;
    width: 280px;
}
.header_selproposal {
	height:150px;
}
.header_wimg p {
	margin: 0 0 80px;
}
.header_wimg p.receipt {
    margin-top: 60px;
}

.heading {
	padding: 40px;
}
.main {
	width:320px;
	height:245px;
}
.center {
	text-align: center;
	margin: 0 auto 0 auto;
}
.input-button {
	position:relative;
	clear:both;
	height: 20px;
	margin-bottom: 65px;
}
.input-button span {
	position: absolute;
    top: 0;	
}
.left .input-button span {
	left:-50px;
}
.right .input-button span {
	right:-50px;;
}

.right .input-button {
	margin-right:50px;
}
.left .input-button {
	margin-left:50px;
}
.left {
	float:left;
}
.right {
	float:right;
	text-align:right
}
.absolute {
	position: absolute;
}
.full {
	width: 100%;
	height:100%;
}
img {
    float: left;
    margin: 120px 60px 80px;
}
input.pin {
    background-color: #000033;
    border: 0 none;
    color: #FFFC9D;
    font-family: monaco;
    font-size: 14px;
}
